.note-container {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }
  ul {
    list-style: none inside none;
    margin: 1rem auto;
  }
  li::before {
    content: "📌";
  }